/* style.css */
body {
    font-size: clamp(1rem, 2.5vw, 3ex); /* Responsive font size */
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    background-color: #e8e8eb;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: flex-start; /* Align content at the top of the page */
    height: 100vh; /* Full viewport height */
}

.container {
    width: 90%; /* Adjust the width as needed, like 80% of the page */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Optional: Add some space inside the container */
}

/* Desktop-specific styles */
@media (min-width: 768px) {
    .container {
        width: 50%; /* Adjust this to control how much space is left on the sides */
    }
}

header {
    background-color: #1f4144;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

figure {
    text-align: center; /* Centers the figure and caption */
    margin-top: 20px; /* Adds space above and below the figure */
    margin-bottom: 40px;
}

figure img {
    max-width: 100%; /* Makes sure the image doesn't exceed the container's width */
    height: auto; /* Keeps the image aspect ratio intact */
}

figcaption {
    text-align: left;
    font-size: 0.9em; /* Reduces the font size for the caption */
    color: #555; /* Optional: Changes the caption text color */
    margin: 0; /* Adds space between the image and caption */
    line-height: 1.2;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Style for all links */
a {
    color: inherit; /* Use the same text color as the surrounding text */
    text-decoration: none; /* Remove the underline */
    background: none; /* Remove any background */
}

/* Optional: Add hover effect to all links */
a:hover {
    text-decoration: underline; /* Underline when hovered */
}

.publisher-info {
    font-size: 0.9em;
    font-style: italic;
    color: #000000;
    margin-bottom: 5px;
}

.intro-paragraph {
    font-weight: bold;
    font-size: 1.0em;
    color: #333;
    margin-bottom: 20px;
}

.references {
    font-size: 0.8em;
    color: black;
    margin-top: 5px;
}

.figure-title {
    font-size: 0.8em;
    font-weight: bold;
    color: #000000;
    margin: 0;
    line-height: 1.2;
}

.figure-legend {
    font-size: 0.8em;
    color: #000000;
    margin: 0;
    line-height: 1.2;
}

.figure-info {
    font-size: 0.8em;
    color: #000000;
    margin: 0;
    line-height: 1.2;
}

article h3 {
    font-size: clamp(1.2em, 2.5vw, 1.4em); /* Responsive font size for h3 */
    color: #000000;
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: none; /* Keep text in its original case */
}
